# Dependencies
node_modules/

# Environment variables (ห้าม push ขึ้น Git เด็ดขาด!)
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Upload files (Allowing images to be tracked as requested)
# backend/uploads/

# Editor
.vscode/
.idea/
